/* Navbar */
.navbar-brand .logo {
	
}
.navbar-brand {
	font-size: 20px;
	font-family: Franklin Gothic;
	padding-right: -100px;
}
.navbar-brand span {
	 color: #D1D1D1; 
	 font-family: none;
} 



/* Desktop Versi */
@media (min-width: 992px) { 

	.nav-link {
	text-transform: uppercase;
	margin-left: 30px;
 	}

 	.nav-link:hover::after{
 		content: '';
 		display: block;;
 		border-bottom: 3px solid #1862E2;
 		width: 50%;
 		margin: auto;
 	}
 


}