/* Navbar */
.navbar {
	position: relative;
 	z-index: 1; 
}
.navbar-brand {
	font-size: 20px;
	font-family: Franklin Gothic;
	padding-right: -100px; 
}
.navbar-brand span {
	 color: #D1D1D1; 
	 font-family: none;
} 

/* jumbotron */

.jumbotron {
	text-align: center;
	background-image: url(img/gunung.JPG);
	background-size: cover;
	height: 483px;
	text-align: center;
	position: relative;
}

.jumbotron .container {
	position: relative;
 	z-index: 1; 
}

.jumbotron::after {
	content: '';
	display: block;
	width: 100%;
	height: 70%;
	background-image: linear-gradient(to top, rgba(137, 205 ,249,0.8), rgba(0,0,0,0));
	position: absolute;
	bottom: 0;
}

.jumbotron .display-4 {
	
	margin-top: 90px;
	font-family: Cambria; 
	text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
	margin-bottom: 30px;
	font-size: 30px;
}
.jumbotron .display-4 span {
	
	font-size: 40px;
}


/* Info Panel */
.info-panel{
	box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	margin-top: -110px;
	background-color:  white;
	padding: 30px;
}
.info-panel img{
	width:	80px;
	height:	80px;
	margin-right: 15px;
	margin-bottom: 20px;
}
.info-panel h4{
	font-size: 30px;
}
.info-panel p{
	font-size: 15px;
	color: #707070;
}
.info-panel p span{
	font-size: 12px;
}



/* Tombol */
.tombol {
	text-transform: uppercase;
	border-radius: 40px;
	
}




/* Desktop Versi */
@media (min-width: 992px) { 
	
	.nav-link {
	text-transform: uppercase;
	margin-left: 30px;
 	}

 	.nav-link:hover::after{
 		content: '';
 		display: block;;
 		border-bottom: 3px solid #1862E2;
 		width: 50%;
 		margin: auto;
 		padding-bottom: 4px;
 		margin-bottom: -7px ;
 	}

 	.jumbotron {
 		margin-top: -98px;
 		height: 683px;
 	}
  
 	.jumbotron .display-4 {
 		margin-top: 150px;
		font-size: 35px;
	}
 	
 	.jumbotron .display-4 span {
	
	font-size: 40px;
	}
}
